In [2]:
import pandas as pd

In [ ]:
matches = pd.read_csv("assets/soccer-matches.csv")
matches.head()

In [31]:
""" filtered_matches = matches[["Team", "Fixture", "Home Team", "Away Team", "Home Goal", "Away Goal"]]
filtered_matches.to_csv("filtered_soccer_matches.csv", index=False) """

' filtered_matches = matches[["Team", "Fixture", "Home Team", "Away Team", "Home Goal", "Away Goal"]]\nfiltered_matches.to_csv("filtered_soccer_matches.csv", index=False) '

In [ ]:
matches.shape
matches["Team"].value_counts()

In [46]:
matches["Date Time (US Eastern)"] = pd.to_datetime(matches["Date Time (US Eastern)"])
matches.dtypes

Team                              object
Date Time (US Eastern)    datetime64[ns]
Fixture                           object
Home Team                         object
Home Goal                        float64
Away Goal                        float64
Away Team                         object
homeAway                          object
foulsCommitted                   float64
yellowCards                      float64
redCards                         float64
offsides                         float64
wonCorners                       float64
saves                            float64
possessionPct                    float64
totalShots                       float64
shotsOnTarget                    float64
shotPct                          float64
penaltyKickGoals                 float64
penaltyKickShots                 float64
accuratePasses                   float64
totalPasses                      float64
passPct                          float64
accurateCrosses                  float64
totalCrosses                     float64
crossPct                         float64
accurateLongBalls                float64
totalLongBalls                   float64
longballPct                      float64
blockedShots                     float64
effectiveTackles                 float64
totalTackles                     float64
tacklePct                        float64
interceptions                    float64
effectiveClearance               float64
totalClearance                   float64
updateTime                        object
Unnamed: 37                      float64
dtype: object

In [48]:
matches["homeAway_code"] = matches["homeAway"].astype("category").cat.codes
matches

,Team,Date Time (US Eastern),Fixture,Home Team,Home Goal,Away Goal,Away Team,homeAway,foulsCommitted,yellowCards,...,blockedShots,effectiveTackles,totalTackles,tacklePct,interceptions,effectiveClearance,totalClearance,updateTime,Unnamed: 37,homeAway_code
0,Manchester United,2024-08-16 15:00:00,Manchester United vs Fulham,Manchester United,1.0,0.0,Fulham,home,12.0,2.0,...,2.0,14.0,21.0,70.0,19.0,20.0,20.0,8/17/24 08:19,NaN,1
1,Fulham,2024-08-16 15:00:00,Manchester United vs Fulham,Manchester United,1.0,0.0,Fulham,away,10.0,3.0,...,4.0,17.0,24.0,70.0,9.0,19.0,19.0,8/17/24 08:19,NaN,0
2,Ipswich Town,2024-08-17 07:30:00,Ipswich Town vs Liverpool,Ipswich Town,0.0,2.0,Liverpool,home,9.0,3.0,...,3.0,10.0,20.0,50.0,9.0,28.0,28.0,8/18/24 04:18,NaN,1
3,Liverpool,2024-08-17 07:30:00,Ipswich Town vs Liverpool,Ipswich Town,0.0,2.0,Liverpool,away,18.0,1.0,...,7.0,4.0,9.0,40.0,5.0,16.0,16.0,8/18/24 04:18,NaN,0
4,Nottingham Forest,2024-08-17 10:00:00,Nottingham Forest vs AFC Bournemouth,Nottingham Forest,1.0,1.0,AFC Bournemouth,home,17.0,1.0,...,3.0,12.0,24.0,50.0,7.0,25.0,25.0,8/18/24 04:18,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
1098,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
1099,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
1100,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
1101,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1